{% from "_formhelpers.html" import render_field %}
<h1>Account Information</h1>
{% extends "layout.html" %}
{% block body %}
    <b>Name:</b> {{session['name'] | safe }} <br>
    <b>Email:</b> {{session['email'] | safe }} <br>
    <b>School:</b> {{session['school'] | safe }} <br>
    <b>Year:</b> {{session['year'] | safe}} <br>
    
<h1>Update Your Information</h1>
<form method=post>
  <dl>
    {{ render_field(form.name) }}
    {{ render_field(form.email) }}
    {{ render_field(form.year) }}
    {{ render_field(form.school_id) }}
    {{ render_field(form.new_password) }}
    {{ render_field(form.new_confirm) }}
  </dl>
  <p><input type=submit value=Update>
</form>

<p><a href="/">Go back to the index</a></p>
{% endblock %}
