<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>
{% extends "layout.html" %}
{% block body %}
  {% if 'email' in session %}
    {{'you are logged in as {}'.format(session['name']) | safe }}
    <a href="account"> Manage Account</a> |
    <a href="logout">Logout</a>
  {% else %}
    <p>Go to the <a href="login">login</a> page, or <a href="register">register</a> </p>
  {% endif %}
  <h1>Welcome to the Student Discount Database!</h1>

  {% if 'email' in session %}
    <a href="Click">Click here</a> to see all the discounts available to you, or
  {% endif %}
    start an advanced <a href="search">search</a>

{% endblock %}

</html>
