{% from "_formhelpers.html" import render_field %}
{% extends "layout.html" %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/static/css/templates.css">
{% block body %}

<form method=post>
  <dl>
    <p>      
       {{ render_field(form.school_id) }}
       {{ render_field(form.category) }}
       {{ render_field(form.show) }}
       {{ render_field(form.check) }}
    </p>
  </dl>
  <p><input type=submit value=Search>
</form>

<p><a href="/">Go back to the index</a></p>
{% endblock %}
